---
http_interactions:
- request:
    method: get
    uri: https://ajax.googleapis.com/ajax/services/feed/find?q=news&v=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Backend-Content-Length:
      - '2978'
      X-Embedded-Status:
      - '200'
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"responseData": {"query":"news","entries":[{"url":"http://news.google.com/news?cf\u003dall\u0026hl\u003den\u0026pz\u003d1\u0026ned\u003dus\u0026topic\u003dh\u0026num\u003d3\u0026output\u003drss","title":"Google
        \u003cb\u003eNews\u003c/b\u003e","contentSnippet":"Comprehensive up-to-date
        \u003cb\u003enews\u003c/b\u003e coverage, aggregated from sources all over
        the \u003cbr\u003e\nworld by Google \u003cb\u003eNews\u003c/b\u003e.","link":"https://news.google.com/"},{"url":"http://feeds.feedburner.com/foxnews/latest","title":"Fox
        \u003cb\u003eNews\u003c/b\u003e - Breaking \u003cb\u003eNews\u003c/b\u003e
        Updates | Latest \u003cb\u003eNews\u003c/b\u003e Headlines \u003cb\u003e...\u003c/b\u003e","contentSnippet":"Offers
        worldwide \u003cb\u003enews\u003c/b\u003e coverage, analysis, show profiles,
        broadcast schedules, \u003cbr\u003e\nteam biographies, and email \u003cb\u003enews\u003c/b\u003e
        al[...]
